.byebug_history

#============ core ============
/core/.bundle

# Ignore all logfiles and tempfiles.
/core/log/*
/core/tmp/*
!/core/log/.keep
!/core/tmp/.keep

# Ignore uploaded files in development
/core/storage/*
!/core/storage/.keep

# Ignore master key for decrypting credentials and more.
/core/config/master.key

/core/config/database.yml

#============ models ============
models/.bundle/
models/log/*.log
models/pkg/
models/test/dummy/log/*.log
models/test/dummy/node_modules/
models/test/dummy/yarn-error.log
models/test/dummy/storage/
models/test/dummy/tmp/